@using GenericDatatables.Core
@using GenericDatatables.Core.Helper
@using GenericDatatables.Web.Models

<h2>People</h2>

@section styles {
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables/jquery.dataTables.bootstrap-adapter.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables/extras/colvis/ColVis.css" rel="stylesheet" />
    <link href="~/Content/plugins/datatables/extras/scroller/css/jquery.dataTables.scroller.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/defaults.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.fnReloadAjax.js"></script>
    <script src="~/Scripts/jquery.dataTables.bootstrap-adapter.js"></script>
    <script src="~/Scripts/jquery.dataTables.columnVisibility.min.js"></script>
    <script src="~/Scripts/jquery.dataTables.scroller.min.js"></script>
    <script src="~/Scripts/jquery.inputmask.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.inputmask.extensions.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.inputmask.date.extensions.js" type="text/javascript"></script>
    <script src="~/Scripts/People/Index.js" type="text/javascript"></script>
}

<span id="urls-datatable" style="display: none">@Url.Action("Datatable")</span>

<div>
    <a href="@Url.Action("PersonForm")" class="btn btn-small btn-success btn-small btn-add">Add a person</a>
</div>

@(Html.Datatable<Person>("personDatatable")
        .Property("Id", person => person.Id)
        .Property("Name", p => p.Name.ToLower())
        .Property("Birthday", p => p.Birthday, "dd/MM/yyyy")
        .Property("Address", p => p.Address.Street + " " + p.Address.HouseNumber)
        .Property("Time", p => p.Time, @"hh\:mm\:ss")
        .LastColumn("Actions", PersonButtons))
        
@helper PersonButtons(Person person) {
    <a href="@Url.Action("PersonForm", new { id = person.Id})" class="btn btn-primary btn-edit">Edit</a>
    <a href="@person.Id" class="btn btn-danger">Delete</a>
}

<div id="modaldiv" class="modal hide fade"></div>