@model GenericDatatables.Web.Dtos.PersonFormDto

<div class='modal-header'>
    <a class='close' data-dismiss='modal'>×</a>
    <h3>Person</h3>
</div>

<div class='modal-body'>
    @using (Html.BeginForm("PersonForm", "People", FormMethod.Post, new { id = "person-form" }))
    {
        @Html.ValidationSummary(excludePropertyErrors:true)

        @Html.HiddenFor(model => model.Id)
    
        @Html.FormElementFor(model => model.Name)    
    
        @Html.FormElementFor(model => model.Birthday)

        @Html.FormElementFor(model => model.Time)

        <h3>Address</h3>
    
        @Html.HiddenFor(model => model.Address.Id)
    
        @Html.FormElementFor(model => model.Address.Street)

        @Html.FormElementFor(model => model.Address.HouseNumber)

        @Html.FormElementFor(model => model.Address.PostalCode)

        @Html.FormElementFor(model => model.Address.City)
    }
</div>

<div class='modal-footer'>
        <input type="submit" value="Save" class='btn btn-success' form="person-form"/>
</div>

